<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue中的列表渲染-对象循环</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-for="item of userInfo">
        {{item}}
    </div>
    <!--key值-->
    <div v-for="(item,key) of userInfo">
        {{item}} --- {{key}}
    </div>
    <!--index索引值-->
    <div v-for="(item,key,index) of userInfo">
        {{item}} --- {{key}} --- {{index}}
    </div>
</div>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            userInfo: {
                name: "Jack",
                age: 28,
                gender: "male",
                salary: "secret"
            }
        }
    })
</script>
</body>
</html>
