<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue中的表单绑定--v-model</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model="value"/>
    {{value}}
    <textarea v-model="value"></textarea>
    {{value}}
    <input type="checkbox" v-model="value">
    {{value}}
    <input type="radio" value="test" v-model="value">
    {{value}}
    <select v-model="value">
        <option disabled>请选择</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>
</div>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            value: ""
        }
    })
</script>
</body>
</html>
